@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Structured Content </title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <form>
            Number of people
            <input type="text" name="numberofpeople" />
            Date
            <input type="date" name="date" />
            Time
            <input type="time" name="time" />
            Restaurant
            <select>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </form>
    </div>
</body>
</html>